## Python ウォーミングアップ
まずはPythonで簡単な計算をしてみましょう。各自の画面中の IPython Notebook のセルに順次入力して（コピペ可）、「Shift + Enter」してください。

シャープ # を付けるとコメントと見なされ、それ以降の文字はPythonプログラムに無視されます。

In [1]:
# 簡単な足し算をする
1 + 2

3

In [2]:
# 数字を変数に代入する
a = 4
b = 5

In [3]:
# 代入した変数同士の掛け算
a * b

20

In [4]:
# 「リスト」というデータ構造に「data1」という名前をつけ、数字の組を代入する
data1 = [1, 2, 3, 4, 5]

In [5]:
# data1 の中身を確認する
print(data1)

[1, 2, 3, 4, 5]

ここから先のプログラムでは、インデント（文頭の空白文字）や、文末の「:」（コロン）などを正しく記述しないと、思った通りの動作をしなくなります。注意して使ってください。

In [6]:
# 「for文」を使って、リストの中身を１個１個取り出し、２倍して返す。
for n in data1:
    print(n * 2)

2
4
6
8
10

In [7]:
# 上と同じことをする関数を定義する
def double(list):
    for n in list:
        print(n * 2)

In [8]:
# 作った関数を呼び出して実行する。
double(data1)

2
4
6
8
10